@import "tailwindcss";
@plugin "daisyui";

@layer base {
  ul, ol {
    list-style: revert;
  }
}

@theme {
  --breakpoint-xs: 30rem; /* 480px */
  --color-black2: rgb(24, 24, 27);
  --color-theme-50: #fbf8ef;
  --color-theme-100: #f7f0de;
  --color-theme-200: #e8d39f;
  --color-theme-300: #dcb96d;
  --color-theme-400: #d3a34c;
  --color-theme-500: #ca8736;
  --color-theme-600: #b2692d;
  --color-theme-700: #954e28;
  --color-theme-800: #7a3f26;
  --color-theme-900: #653522;
  --color-theme-950: #391b0f;
}


body {
  @apply bg-white text-black2 dark:bg-black2 dark:text-white selection:bg-theme-300 selection:text-theme-900;
}

ol, ul {
  @apply list-inside
}

ul {
  @apply list-disc
}

ol {
  @apply list-decimal
}

h1 {
  @apply text-4xl
}

h2 {
  @apply text-3xl
}

h3 {
  @apply text-2xl
}

h4 {
  @apply text-xl
}

h5 {
  @apply text-lg
}

h6 {
  @apply font-bold
}

.alert {
  @apply border p-3 rounded-md
}

.alert-red{
  @apply bg-red-50 border-red-300 dark:bg-red-950 dark:border-red-800 text-red-800 dark:text-red-100
}

.alert-blue{
  @apply bg-blue-50 border-blue-300 dark:bg-blue-950 dark:border-blue-800 text-blue-800 dark:text-blue-100
}

.alert-sky{
  @apply bg-sky-50 border-sky-300 dark:bg-sky-950 dark:border-sky-800 text-sky-800 dark:text-sky-100
}

.button {
  @apply text-white border-0 transition-all cursor-pointer select-none shadow
}

.button-red {
  @apply bg-red-500 hover:bg-red-600 active:bg-red-700 disabled:bg-red-100 disabled:text-red-400 dark:disabled:bg-red-950 dark:disabled:text-red-700 not-disabled:hover:drop-shadow-[0_2px_10px_rgba(255,128,128,0.5)]
}

.button-blue {
  @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700 disabled:bg-blue-100 disabled:text-blue-400 dark:disabled:bg-blue-950 dark:disabled:text-blue-700 not-disabled:hover:drop-shadow-[0_2px_10px_rgba(142,128,255,0.5)]
}

.button-sky {
  @apply bg-sky-500 hover:bg-sky-600 active:bg-sky-700 disabled:bg-sky-100 disabled:text-sky-400 dark:disabled:bg-sky-950 dark:disabled:text-sky-700 not-disabled:hover:drop-shadow-[0_2px_10px_rgba(128,170,255,0.5)]
}

.button-yellow {
  @apply bg-yellow-500 hover:bg-yellow-600 active:bg-yellow-700 disabled:bg-yellow-100 disabled:text-yellow-400 dark:disabled:bg-yellow-950 dark:disabled:text-yellow-700 not-disabled:hover:drop-shadow-[0_2px_10px_rgba(255,215,143,0.4)];
}

.button-green {
  @apply bg-green-500 hover:bg-green-600 active:bg-green-700 disabled:bg-green-100 disabled:text-green-400 dark:disabled:bg-green-950 dark:disabled:text-green-700 not-disabled:hover:drop-shadow-[0_2px_10px_rgba(135,245,164,0.4)];
}

.button-orange {
  @apply bg-orange-500 hover:bg-orange-600 active:bg-orange-700 disabled:bg-orange-100 disabled:text-orange-400 dark:disabled:bg-orange-950 dark:disabled:text-orange-700 not-disabled:hover:drop-shadow-[0_2px_10px_rgba(249,179,135,0.4)];
}

.button-theme {
  @apply text-theme-600 bg-theme-200/35 hover:bg-theme-200/60 active:bg-theme-200 disabled:bg-theme-900/10 disabled:text-theme-900/40 dark:text-theme-400 dark:bg-theme-900/40 dark:hover:bg-theme-900/50 dark:active:bg-theme-900/60 dark:disabled:bg-theme-100/5 dark:disabled:text-theme-100/20 font-semibold disabled:cursor-not-allowed;
}

.card-theme {
  @apply bg-theme-300/40 dark:bg-theme-800/50 text-theme-800 dark:text-theme-100
}

.input-focus-theme {
  @apply outline-0 focus:ring-2 ring-offset-2 focus:ring-offset-black2 ring-theme-400
}

.modal-center{
  @apply absolute left-[50%] top-[50%];
  transform: translate(-50%, -75%);
}

.github-user {
  @apply hover:underline underline-offset-2 decoration-theme-500/60 dark:decoration-theme-500 decoration-2 tracking-tight
}

/* DaisyUI */

.range-theme {
  @apply text-theme-300;
  /* color: var(--color-theme-400) var(--color-error); */
  --range-thumb: var(--color-theme-950) /* var(--color-error-content) */;
}

/* CKEDITOR */

.ck-editor__editable .ck-list-bogus-paragraph {
  @apply inline!
}

.ck-source-editing-area{
  @apply dark:text-white
}

.image {
  display: table;
  clear: both;
  text-align: center;
  margin: .9em auto;
  min-width: 50px;
}

.image-style-block-align-left {
  margin-left: 0;
  margin-right: auto;
}

.image-style-block-align-right {
  margin-right: 0;
  margin-left: auto;
}

.image-style-align-left {
  float: left;
  margin-right: 1.5em;
}

.image-style-align-left, .image-style-align-right {
  clear: none;
}

.image-style-align-right {
  float: right;
  margin-left: 1.5em;
}

.image-style-align-left, .image-style-align-right {
  clear: none;
}

.image-inline {
  display: inline-flex;
  max-width: 100%;
  align-items: flex-start;
}

blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: 5px solid #ccc;
}

pre {
  padding: 1em;
  color: inherit;
  background: #c7c7c74d;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px;
}

code, kbd, samp, pre {
  font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
  font-feature-settings: var(--default-mono-font-feature-settings, normal);
  font-variation-settings: var(--default-mono-font-variation-settings, normal);
  font-size: 1em;
}

.text-tiny {
font-size: .7em;
}

.text-small {
    font-size: .85em;
}

.text-big {
    font-size: 1.4em;
}

.text-huge {
    font-size: 1.8em;
}